extends ./index.jade

block video
    video#profesorVideo(height="100px",autoplay)

block extraLine1
    .col-xs-2.col-xs-offset-2
        label.ignore-kolich Nombre:
    .col-xs-4
        input.form-control.ignore-kolich#name(type="text", value="Alumno")
    .col-xs-4
        button#conectar(style="background-color: transparent;border: 0;")
            img(src="/images/conectar.png",style="height:35px;",alt="CONECTAR",title="CONECTAR")
        button#desconectar(style="background-color: transparent;border: 0;",alt="DESCONECTAR",title="DESCONECTAR")
            img(src="/images/desconectar.png",style="height:35px;")

//block extraLine2
    .col-xs-5.col-xs-offset-2
        button#conectar
            img(src="/images/conectar.png",style="height:35px;")
        //button.form-control.btn#conectar CONECTAR
    .col-xs-5
        button#desconectar
            img(src="/images/desconectar.png",style="height:35px;")
        //button.form-control.btn#desconectar DESCONECTAR

block script-2
    script.

        var profesor = false;
        //var key_code_send = 13;
        var myCall;
        var peerId;

        function getRemove() { return ''; }

        function processKeyDownChat(e){ //--Con ENTER => enviar
            if (e.which == 13){
                var sendie = $('#sendie');
                var text = $.trim(sendie.val());
                if (text == "") return;

                //while(text.indexOf('\n') != -1){
                //    text = text.replace('\n','<br/>'); //TODO HACERLO DE UNA MANERA MENOS FEA
                //}

                var data = { text: text, inputId: Date.now() , classRoom: classRoom, author: $('#name').val(), teacher: profesor}; //TODO este author es provisorio
                socket.emit('newMessageChat', data);
                addChatMsg(data, true);
                sendie.val("");
                e.preventDefault();
            }


        }

        $(document).ready(function(){
            navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
            navigator.getUserMedia({audio: true, video:false},
                function(localMediaStream) {
                    mediaStream = localMediaStream;
                    //var selfVideo = document.getElementById('selfVideo');
                    //selfVideo.src = window.URL.createObjectURL(localMediaStream);
                },function(err) {
                        console.log('The following error occurred when trying to use getUserMedia: ' + err);
                    });

            var conectar = $('#conectar'),
                desconectar = $('#desconectar');

            conectar.hide();
            $("#profesorVideo").hide();

            peer.on('open', function (id) {
                peerId = id;
                conectar.show();
                $("#profesorVideo").show();
            });

            conectar.click(function(){
                socket.emit('newStudentConnected', { peerId: peerId, classRoom: classRoom});
            });

            desconectar.click(function () {
                if(myCall != null){
                    myCall.close();
                    myCall = null;
                    socket.emit('studentDisconnected', { peerId: peerId });
                }
                //peer.disconnect();
                //socket.disconnect();
            });

            peer.on('call', function (call) {
                call.answer(mediaStream);
                call.on('stream', function (stream) {
                    var profesorVideo = document.getElementById('profesorVideo');
                    profesorVideo.src = window.URL.createObjectURL(stream);
                    myCall = call;
                });
            });
        });