extends ./index.jade

block video
    video#profesorVideo(height="100px",autoplay)

block extraLine1
    .col-xs-2
        label.ignore-kolich Nombre:
    .col-xs-3
        input.form-control.ignore-kolich#name(type="text", value="Alumno")

block extraLine2
    .col-xs-5.col-xs-offset-2
        button.form-control.btn#conectar CONECTAR
    .col-xs-5
        button.form-control.btn#desconectar DESCONECTAR

block javascript
    script.

        var profesor = false;
        var key_code_send = 13;
        var myCall;

        function getRemove() { return ''; }

        var peerId;
        $(document).ready(function(){
            navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
            navigator.getUserMedia({audio: true, video:false},
                function(localMediaStream) {
                    mediaStream = localMediaStream;
                    //var selfVideo = document.getElementById('selfVideo');
                    //selfVideo.src = window.URL.createObjectURL(localMediaStream);
                },function(err) {
                        console.log('The following error occurred when trying to use getUserMedia: ' + err);
                    });

            var conectar = $('#conectar'),
                desconectar = $('#desconectar');

            conectar.hide();
            $("#profesorVideo").hide();

            peer.on('open', function (id) {
                peerId = id;
                conectar.show();
                $("#profesorVideo").show();
            });

            conectar.click(function(){
                socket.emit('newStudentConnected', { peerId: peerId, classRoom: classRoom});
            });

            desconectar.click(function () {
                if(myCall != null){
                    myCall.close();
                    myCall = null;
                    socket.emit('studentDisconnected', { peerId: peerId });
                }
                //peer.disconnect();
                //socket.disconnect();
            });

            peer.on('call', function (call) {
                call.answer(mediaStream);
                call.on('stream', function (stream) {
                    var profesorVideo = document.getElementById('profesorVideo');
                    profesorVideo.src = window.URL.createObjectURL(stream);
                    myCall = call;
                });
            });
        });