doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='content-language', content='es')
        meta(name="robots" content="INDEX,FOLLOW")
        link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', media='screen')
        link(href='/stylesheets/font-awesome.min.css', rel='stylesheet', media='screen')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .navbar.navbar-inverse.set-radius-zero
            .container
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/")
                        img(src="images/logo.png")
                .left-div
                    .user-settings-wrapper
                        ul.nav
                            li.dropdown
                                a.dropdown-toggle(data-toggle="dropdown", href="#", aria-expanded="false")
                                    span.glyphicon.glyphicon-user(style="font-size: 25px")
                                .dropdown-menu.dropdown-settings
                                    .media
                                        a.media-left(href="#")
                                            img.img-rounded(src="images/64-64.jpg", alt="")
                                        .media-body
                                            h4.media-heading Alejandro Sánchez
                                            h5 Administrador
                                    hr
                                    h5
                                        strong Biografía
                                    span Ingeniero en Sistemas de Información
                                    hr
                                    a.btn.btn-info.btn-sm(href="#") Perfil &nbsp;
                                    a.btn.btn-danger.btn-sm(href="#") Cerrar Sesión
        section.menu-section
            .container
                .row
                    .col-md-12
                        .navbar-collapse.collapse
                            ul.nav.navbar-nav.navbar-right#menu-top
                                li
                                    a.menu-top-active(href="#") Realtime
                                li
                                    a(href="#") Menu 2
                                li
                                    a(href="#") Menu 3
                                li
                                    a(href="#") Menu 4
                                li
                                    a(href="#") Menu 5

        .content-wrapper
            .container
                .row
                    .col-md-12#search-panel
                        script.
                              (function() {
                                var cx = '004468690808925015633:ehl2wqargfg';
                                var gcse = document.createElement('script');
                                gcse.type = 'text/javascript';
                                gcse.async = true;
                                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                    '//cse.google.com/cse.js?cx=' + cx;
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(gcse, s);
                              })();
                        gcse:searchbox(gname="storesearch", disableWebSearch="true", enableImageSearch="true", image_lr="lang_en")
                .row
                    .col-md-6
                        gcse:searchresults(gname="storesearch")
                    .col-md-6
                        .row
                            .col-md-12
                                #chat-wrap
                                    #chat-area
                        .row
                            block video
                            .col-md-9
                                #send-message-area
                                    textarea#sendie


                //.row
                    .col-md-6
                        #send-message-area
                            textarea#sendie
                    block video

                .row
                    block videosExtra

        footer
            .container
                .row
                    .col-md-12 &copy; 2015 Unlimited Solutions

        script(type='text/javascript', src='/javascripts/jquery-2.1.4.min.js')
        script(type='text/javascript', src='/javascripts/bootstrap.min.js')
        script(type='text/javascript', src='/javascripts/socket.io-1.3.5.js')
        script(type='text/javascript', src='/javascripts/peer.js')
        //script(type='text/javascript', src='/javascripts/etherpad.js')
        script.
            var socket = io();
            var peer = new Peer({key: 'bp70suzmx5ok1emi'});
            var mediaStream = null;
            var classRoom = '#{classRoom}';

            function sendSearch(){
                socket.emit('search changed', { text: $("input.gsc-input").val(), classRoom: classRoom});
            }
            function sendSearch2(e){
                if(e.which == 17){ //Activa la busqueda con el CTRL
                    $('input.gsc-search-button').click();
                }
            }

            function activateSearchEvents(){
                $("#search-panel").on("click", "input.gsc-search-button", sendSearch);
                $("#search-panel").on("keyup", ".gsc-input", sendSearch2);

            }

            function deactivateSearchEvents(){
                $("#search-panel").off("click", "input.gsc-search-button", sendSearch);
                $("#search-panel").off("keyup", ".gsc-input", sendSearch2);
            }

            if(!window.Kolich){
              Kolich = {};
            }

            Kolich.Selector = {};
            Kolich.Selector.getSelected = function(){
              var t = '';
              if(window.getSelection){
                t = window.getSelection();
              }else if(document.getSelection){
                t = document.getSelection();
              }else if(document.selection){
                t = document.selection.createRange().text;
              }
              return t;
            }

            Kolich.Selector.mouseup = function(){
                var st = Kolich.Selector.getSelected();
                if(st!=''){
                    //alert("You selected:\n"+st);
                }
            }

            $(document).ready(function(){
                activateSearchEvents();

                $(document).bind("mouseup", Kolich.Selector.mouseup);

                socket.on('search changed', function(data){
                    if(data.classRoom == classRoom){
                        $('input.gsc-input').val(data.text);
                        deactivateSearchEvents();
                        $('input.gsc-search-button').click();
                        activateSearchEvents();
                    }
                });

                $("#sendie").keyup(function(e){
                    if(e.which == 13){
                        var text = $.trim($("#sendie").val());
                        if(text != ""){
                            var randomInputId = Math.floor((Math.random() * 1000000000) + 1);
                            var data = { message: text, inputId: randomInputId, classRoom: classRoom, sender: peer.id };
                            socket.emit('newMessageChat', data);
                            addChatMsg(data, true);
                            $("#sendie").val("");
                        }
                    }
                });

                $("#chat-area").on("keydown", ".chatInput", function(e){
                    if(e.which == 13){
                        var inputId = e.target.id;
                        var item = $("#" + inputId);
                        var inputValue = $.trim(item.text());
                        if(inputValue != ""){
                            socket.emit('messageChatChanged', { message: inputValue, inputId: inputId, classRoom: classRoom});
                        }
                        e.preventDefault();
                    }
                });

                socket.on('newMessageChat', function (data) {
                    if(data.classRoom == classRoom){
                        addChatMsg(data, false);
                    }
                });

                socket.on('messageChatChanged', function (data) {
                    console.log('changes');
                    if(data.classRoom == classRoom){
                        $("#" + data.inputId).text(data.message);
                    }
                });


                function addChatMsg(data, sent){
                    var timestamp = Date.now();
                    var msg = '<div contentEditable="true" id="' + data.inputId + '" \
                            class="form-control chatInput ' + (sent? 'msg-sent' : 'msg-rcv')+ '" data-sender="' + data.sender + '">' +
                            data.message +'</div>';

                    if (data.sender != $('#chat-area > *:last-child').data('sender'))
                        $('#chat-area').append('<hr class="chat-separator">');

                    $('#chat-area').append(msg);
                    document.getElementById('chat-area').scrollTop = document.getElementById('chat-area').scrollHeight;
                }
            });

        block javascript