extends ./layout.jade

block content
    .col-xs-6(style="height: 100%")
        .row(style="height: 100%")
            .col-xs-12(style="height: 100%")
                #chat-wrap(style="height: 100%")
                    #chat-area(style="height: 100%")

    .col-xs-6#search-panel
        .row
            .col-xs-8
                input#search-input.form-control.ignore-kolich(type="text",style="font-size: 20px;")
            .col-xs-2
                button#search-button.form-control.btn.btn-default
                    span.glyphicon.glyphicon-search
            .col-xs-2
                button#start_recognition_button(style="background-color:transparent;border:0;")
                    img#mic_on(alt="Start", src="/images/mic_off.png", height="40px", style="display:none")
                    img#mic_off(alt="End", src="/images/mic_on.png", height="40px", style="display:none")
        .row#search-results

block footer-content
    .col-xs-6
        .col-xs-12(style="padding-left:0px;padding-right:0px;")
            #send-message-area
                textarea#sendie(style="font-size: 16px;")
    .col-xs-6
        .col-xs-3(style="padding-left:0px;margin-top:5px;")
            block video
        .col-xs-9
            .row(style="margin-top:5px;")
                block extraLine1
            .row
                block extraLine2
            .row
                .col-xs-5.col-xs-offset-7
                    //label &copy; 2015 SolidWorks Solutions

block script
    block script-2
    script.
        var classRoom = '#{classRoom}';
        var locked = #{locked};
        var json = JSON.parse('!{messages}');
    script(type='text/javascript', src='/javascripts/socket.io-1.3.5.js')
    script(type='text/javascript', src='/javascripts/peer.js')
    script(type='text/javascript', src="https://www.google.com/jsapi")
    script(type='text/javascript', src="/javascripts/jquery.cleditor.js")
    script(type='text/javascript', src="/javascripts/jquery.browser.min.js")
    script(type='text/javascript', src="/javascripts/index/index.js")

