doctype html
html
  head
    //title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='content-language', content='es')
    meta(name="robots" content="INDEX,FOLLOW")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block style
  body
    block content