extends ./index.jade

block video
    video#selfVideo(height="100%",autoplay, muted)
    input#name(type="hidden", value="Profesor")

block extraLine1
    #alumnos

block script-2
    script.

        var profesor = true;
        //var key_code_send = 17;
        var delta = 500; //medio segundo
        var lastKeypressTime = 0;

        function canRemove() { return true; }

        function canEdit() { return true; }

        function processKeyDownChat(e){
            var sendie = $('#sendie');
            if(e.which == 32){ //con doble space bar, envia al chat
                var thisKeypressTime = new Date();
                if ( thisKeypressTime - lastKeypressTime <= delta ) {
                    var text = $.trim(sendie.text());
                    if (text == "") return;

                    sendMessage();

                    thisKeypressTime = 0;
                }
                lastKeypressTime = thisKeypressTime;
                return;
            } else {
                lastKeypressTime = 0; //para que si escribe rapido 2 palabras y las separa con la barra (normal), no tome como doble space bar
            }

            if (e.which == 17){//--Con CTRL => busca y comparte
                var text = $.trim(sendie.text());
                if (text == "") return;

                var input = search_input;
                input.val(text); //a pedido de Nicolas, cuando selecciona con el kolich queda eso solo en el input y busca y comparte
                //input.focus();
                search_button.click();
                sendSearch();
                return;
            }

            if (e.keyCode == 46){ //--Evitar comportamiento por dafult del SUPRIMIR
                e.preventDefault();
            }
        }

        $(document).on('ready', function(e){
        });

        var studentsConnected = [];
        $(document).ready(function(){
            navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
            navigator.getUserMedia({audio: true, video: true},
            function(localMediaStream){
               mediaStream = localMediaStream;
               var selfVideo = document.getElementById('selfVideo');
               selfVideo.src = window.URL.createObjectURL(localMediaStream);
            },function(err) {
               console.log('The following error occurred when trying to use getUserMedia: ' + err);
            });

            peer.on('open', function(){
                console.log('open');
                startPing(peer);
            });

            peer.on('error', function (err) {
                console.log(err.message);
            });

            socket.on('newStudentConnected', function(data){
                if (data.classRoom != classRoom) return;
                if (studentsConnected.indexOf(data.peerId) != -1) return; //me fijo que no este ya conectado a ese alumno

                var call,
                    addEvent = function(_call){
                        _call = peer.call(data.peerId, mediaStream);
                        _call.on('stream', function (stream) {
                            createNewAlumnoVideoTag(stream, data.peerId);
                            studentsConnected.push(data.peerId);
                        });
                    };

                if (peer.disconnected){
                    peer = getNewPeer();

                    peer.on('open', function () {
                        console.log('re-open');
                        startPing(peer);
                        addEvent(call);
                    });
                } else {
                    addEvent(call);
                }
            });

            socket.on('studentDisconnected', function(data){
                if(studentsConnected.indexOf(data.peerId) != -1){
                    $("#" + data.peerId).remove();
                    $("#div_" + data.peerId).remove();
                    studentsConnected.splice(studentsConnected.indexOf(data.peerId), 1);
                }
            });

            $('html').keyup(function (e) {
                if(e.keyCode == 46){ //cuando el profesor toca SUPR se limpia la busqueda e imagenes en TODOS
                    socket.emit('clear search images', { classRoom: classRoom});
                }
            });
        });

        function createNewAlumnoVideoTag(stream, peerId){
            var htmlAudio =
                    '<div id="div_' + peerId + '" class="col-md-3">\
                        <audio style="width:250px;" id="' + peerId + '" autoplay controls/>\
                    </div>';
            $("#alumnos").append(htmlAudio);

            var alumnoAudio = document.getElementById(peerId);
            alumnoAudio.src = window.URL.createObjectURL(stream);
        }