extends ./index.jade

block video
    video#selfVideo(height="100%",autoplay, muted)
    input#name(type="hidden", value="Profesor")

block extraLine1
    #alumnos

block script-2
    script.

        var profesor = true;
        //var key_code_send = 17;
        var delta = 500; //medio segundo
        var lastKeypressTime = 0;

        function getRemove() {
            return '<span contenteditable="false" class="glyphicon glyphicon-remove msg-remove"></span>';
        }

        function processKeyDownChat(e){
            if(e.which == 32){ //con doble space bar, envia al chat
                var thisKeypressTime = new Date();
                if ( thisKeypressTime - lastKeypressTime <= delta ) {
                    var sendie = $('#sendie');
                    var text = $.trim(sendie.val());
                    if (text == "") return;

                    var data = { text: text, inputId: Date.now() , classRoom: classRoom, author: $('#name').val(), teacher: profesor}; //TODO este author es provisorio
                    socket.emit('newMessageChat', data);
                    addChatMsg(data, true);
                    sendie.val("");
                    thisKeypressTime = 0;
                }
                lastKeypressTime = thisKeypressTime;
                return;
            } else {
                lastKeypressTime = 0; //para que si escribe rapido 2 palabras y las separa con la barra (normal), no tome como doble space bar
            }

            if (e.which == 17){//--Con CTRL => busca y comparte
                var sendie = $('#sendie');
                var text = $.trim(sendie.val());
                if (text == "") return;

                var input = search_input;
                input.val(text); //a pedido de Nicolas, cuando selecciona con el kolich queda eso solo en el input y busca y comparte
                //input.focus();
                search_button.click();
                sendSearch();
                return;
            }

            if (e.keyCode == 46){ //--Evitar comportamiento por dafult del SUPRIMIR
                e.preventDefault();
            }
        }


        $(document).on('ready', function(e){
            $('#chat-area').on('click', '.msg-remove', function (e) {
                var id = $(this).parent().attr('id');
                socket.emit('messageRemoved', { inputId: id, classRoom : classRoom });

                removeChatMsg(id);
            });
        });


        var studentsConnected = [];
        $(document).ready(function(){

            navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
            navigator.getUserMedia({audio: true, video:true},
            function(localMediaStream){
               mediaStream = localMediaStream;
               var selfVideo = document.getElementById('selfVideo');
               selfVideo.src = window.URL.createObjectURL(localMediaStream);
            },function(err) {
               console.log('The following error occurred when trying to use getUserMedia: ' + err);
            });

            socket.on('newStudentConnected', function(data){
                if(data.classRoom == classRoom){
                    if(studentsConnected.indexOf(data.peerId) == -1){ //me fijo que no este ya conectado a ese alumno
                        var call = peer.call(data.peerId, mediaStream);

                        new Promise(function(resolve, reject){
                            if (!call) {
                                console.log('reconectado');
                                call = setConnection().call(data.peerId, mediaStream);
                            }
                            resolve(call);
                        }).then(function(call){
                            call.on('stream', function (stream) {
                                createNewAlumnoVideoTag(stream, data.peerId);
                                studentsConnected.push(data.peerId);
                            });
                        });

                    }
                }
            });

            socket.on('studentDisconnected', function(data){
                if(studentsConnected.indexOf(data.peerId) != -1){
                    $("#" + data.peerId).remove();
                    $("#div_" + data.peerId).remove();
                    studentsConnected.splice(studentsConnected.indexOf(data.peerId), 1);
                }
            });

            $('html').keyup(function (e) {
                if(e.keyCode == 46){ //cuando el profesor toca SUPR se limpia la busqueda e imagenes en TODOS
                    socket.emit('clear search images', { classRoom: classRoom});
                }
            });
        });

        function createNewAlumnoVideoTag(stream, peerId){
            var htmlAudio =
                    '<div id="div_' + peerId + '" class="col-md-3">\
                        <audio style="width:250px;" id="' + peerId + '" autoplay controls/>\
                    </div>';
            $("#alumnos").append(htmlAudio);

            var alumnoAudio = document.getElementById(peerId);
            alumnoAudio.src = window.URL.createObjectURL(stream);
        }