extends ./index.jade

block video
    video#selfVideo(height="100px",autoplay, muted)
    input#name(type="hidden", value="Profesor")

block videosExtra
    #alumnos

block javascript
    script.

        function getRemove() {
            return '<span contenteditable="false" class="glyphicon glyphicon-remove msg-remove"></span>';
        }

        var key_code_send = 17;

        $(document).on('ready', function(e){
            $('#chat-area').on('click', '.msg-remove', function (e) {
                var id = $(this).parent().attr('id');
                socket.emit('messageRemoved', { inputId: id });

                removeChatMsg(id);
            });
        });


        var studentsConnected = [];
        $(document).ready(function(){

            navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
            navigator.getUserMedia({audio: true, video:true},
            function(localMediaStream){
               mediaStream = localMediaStream;
               var selfVideo = document.getElementById('selfVideo');
               selfVideo.src = window.URL.createObjectURL(localMediaStream);
            },function(err) {
               console.log('The following error occurred when trying to use getUserMedia: ' + err);
            });

            socket.on('newStudentConnected', function(data){
                if(data.classRoom == classRoom){
                    if(studentsConnected.indexOf(data.peerId) == -1){ //me fijo que no este ya conectado a ese alumno
                        var call = peer.call(data.peerId, mediaStream);
                        call.on('stream', function (stream) {
                            createNewAlumnoVideoTag(stream, data.peerId);
                            studentsConnected.push(data.peerId);
                        });
                    }
                }
            });

            socket.on('studentDisconnected', function(peerIdDisconnected){
                if(studentsConnected.indexOf(peerIdDisconnected) != -1){
                    $("#" + peerIdDisconnected).remove();
                    $("#div_" + peerIdDisconnected).remove();
                    studentsConnected.splice(studentsConnected.indexOf(peerIdDisconnected), 1);
                }
            });
        });

        function createNewAlumnoVideoTag(stream, peerId){
            var htmlAudio = '<div id="div_'+peerId+'" class="col-md-3"><audio style="width:250px;" id="'+peerId+'" autoplay controls/></div>';
            $("#alumnos").append(htmlAudio);
            var alumnoAudio = document.getElementById(peerId);
            alumnoAudio.src = window.URL.createObjectURL(stream);
        }