
/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */


/* =============================================================
   GENERAL STYLES
 ============================================================ */

@import url(https://fonts.googleapis.com/css?family=Roboto); /* FREE GOOGLE FONT */

body {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

.set-radius-zero {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.content-wrapper {
    //margin-top: 40px;
    margin-top: 5px;
    /*min-height: 600px;*/
    /*padding-bottom: 60px;*/
    padding-bottom: 20px;
}

.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #F0677C;
    text-transform: uppercase;
    color: #F0677C;
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.progress {
    height: 8px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.login-icon {
    height: 60px;
width: 60px;
padding: 13px;
border-radius: 50%;
font-size: 30px;
margin-bottom: 20px;
color: #fff;
text-align: center;
cursor:pointer;
background-color:#F0677C;
-webkit-border-radius:50%;
    -moz-border-radius:50%;
}
/* =============================================================
   HEADER SECTION STYLES
 ============================================================ */
header {
    background-color: #F0677C;
    color: #fff;
    padding: 10px;
    text-align: right;
    width: 100%;
    margin: 0;
}


/* =============================================================
   LOGO SECTION STYLES
 ============================================================ */
.left-div {
    padding-left: 30px;
    /*margin-top: 40px;
    margin-bottom: 30px;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-brand {
    width: 250px;
    /*padding-top: 30px;*/
    padding-top: 10px;
}

/* USER SETTINGS DIV */
.user-settings-wrapper .nav > li > a {
    position: relative;
    display: block;
    padding: 15px 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #F0677C;
    color: #fff;
}

.user-settings-wrapper {
    margin-top: 10px;
}

    .user-settings-wrapper li {
        display: inline-block;
    }

    .user-settings-wrapper .dropdown-settings {
        width: 200px;
        padding: 10px;
    }

    .user-settings-wrapper .nav > li > a:hover,.user-settings-wrapper .nav > li > a:focus {
        text-decoration: none;
        background-color: #C36464!important;
    }

    .user-settings-wrapper img {
        height: 64px;
        width: 64px;
        border: 1px solid #000000;
    }

    .user-settings-wrapper .dropdown-menu {
        margin: 0px;
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .btn {
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .media-heading {
        padding-top: 10px;
    }

/* MENU LINKS SECTION*/

.menu-section {
    background-color: #3D3D3D;
}

#menu-top a {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
}

.menu-top-active {
    background-color: #C36464;
}

.menu-section .nav > li > a:hover,.menu-section .nav > li > a:focus {
    background-color: #F0677C!important;
}

.menu-section .dropdown-menu > li > a:hover,.menu-section .dropdown-menu > li > a:focus {
    background-color: #F0677C!important;
}

.navbar-inverse {
    background-color: #C36464;
    border-color: transparent;
}

.navbar-toggle {
    background-color: #F0677C;
    border: 1px solid #fff;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar {
    margin-bottom: 0px;
}
/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */

footer {
    color: #fff;
    font-size: 12px;
    background-color: #C36464;
    /*padding-top: 10px;*/
    padding-bottom: 10px;
    /*height: 110px;*/
    /*height: 120px;*/
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a, footer a:hover {
    color: #fff;
    text-decoration: none;
}

/*==============================================
    DASHBOARD  STYLES    
 =============================================*/

/* DASHBOARD ICONS */

.bk-clr-one {
    background-color: #B9B739;
}

.bk-clr-two {
    background-color: #F94C4C;
}

.bk-clr-three {
    background-color: #119c7e;
}

.bk-clr-four {
    background-color: #b739b9;
}

.dashboard-div-icon {
    height: 75px;
    width: 75px;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.dashboard-div-wrapper {
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 50px;
}

    .dashboard-div-wrapper .progress {
        height: 2px;
    }

/* NOTICE BOARD */


.notice-board .panel {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.notice-board ul {
    padding-left: 0px;
    list-style: none;
}

.notice-board li {
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
}

    .notice-board li span {
        margin-right: 10px;
        border: 1px solid #DBDBDB;
        padding: 5px;
    }

    .notice-board li a, li a:hover {
        text-decoration: none;
        color: #000;
    }

/* SOCIAL BUTTONS */
.btn-social {
    color: white;
    opacity: 0.8;
}

    .btn-social:hover {
        color: white;
        opacity: 1;
        text-decoration: none;
    }

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
    box-sizing: content-box;
    line-height: normal;
}

.gsc-above-wrapper-area,
.gsc-result-info-container,
.gcsc-branding,
.gsc-cursor-box.gs-bidi-start-align,
.gs-text-box{
    display: none;
}

.gsc-imageResult-classic {
    padding: 0 !important;
}

/********************MENSAJES DEL CHAT******************/
#chat-wrap  {
    border: 1px solid #eee;
}

#chat-area  {
    overflow: auto;
    border: 3px solid #999;
    /*padding: 5px;*/
    /*background-color: #c7bcff;*/
}

#chat-area {
    list-style: none;
    background: #e5e5e5;
    margin: 0;
    padding: 0 0 50px 0;
    height: 100%;
    overflow-y: scroll;
}

#chat-area li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    line-height: 1.5em;
}
#chat-area .triangle {
    width: 5%;
    position: relative;
}

.other .triangle:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .messages {
    order: 1;
    border-bottom-right-radius: 0;
}
.self .triangle {
    order: 2;
}
.self .triangle:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
}

.messages {
    background: white;
    padding: 3px 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.messages p {
    line-height: normal;
    margin: 0;
    white-space: pre-wrap;
}
.messages p[contenteditable=true]:focus{
    outline: none;
}
.messages .sender {
    /*font-size: 0.7rem;*/
    font-size: 1rem;
    color: #ccc;
}
#chat-area li {
    position: relative;
}

#chat-area li .messages.msg-pending {
    background-color: #FFBF2E !important;
}

#chat-area li .msg-remove {
    cursor: pointer;
    color: red;
    width: 5%;
    z-index: 10;
}
#chat-area li.self .msg-remove {
    position: absolute;
    top: 0;
    right: 0;
}

#chat-area li.other .msg-remove {
    position: absolute;
    top: 0;
    left: 0;
}

#sendie {
    border: 3px solid #999;
    width: 100%;
    padding: 10px;
    font: 12px "Lucida Grande", Sans-Serif;
    margin-bottom: 10px;
    /*height: 100px;*/
    height: 100%;
    resize: none;
    /*background-color: #c7bcff;*/
    background-color: #e5e5e5;
    margin-top: 5px;
    color: black;
}

.msg-pending {
    border-color: #caa658 !important;
}

div.separator {
    clear: both;
}
header, content {
    padding: 0;
    margin: 0;
}
header {
   /* height: 172px; */
}
content > *:first-child{
    /*height: 75% !important;*/
}

#search-results {
    margin-bottom: 170px;
    padding-top: 20px;
}
.search-result{
    /*float: left;*/
}
.search-results-image{
    max-width: 150px;
    max-height: 150px;
    margin: 2px;
}
.search-results-big-image{
    max-width: 400px;
    max-height: 400px;
    margin: 2px;
}
#search-panel {
    overflow: auto;
    height: 100%;
}

audio {
    display:none;
}

.container{
    /*margin : 5px;*/
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}