
/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */


/* =============================================================
   GENERAL STYLES
 ============================================================ */

@import url(https://fonts.googleapis.com/css?family=Roboto); /* FREE GOOGLE FONT */

body {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

.set-radius-zero {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.content-wrapper {
    //margin-top: 40px;
    margin-top: 5px;
    /*min-height: 600px;*/
    /*padding-bottom: 60px;*/
    padding-bottom: 20px;
}

.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #F0677C;
    text-transform: uppercase;
    color: #F0677C;
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.progress {
    height: 8px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.login-icon {
    height: 60px;
width: 60px;
padding: 13px;
border-radius: 50%;
font-size: 30px;
margin-bottom: 20px;
color: #fff;
text-align: center;
cursor:pointer;
background-color:#F0677C;
-webkit-border-radius:50%;
    -moz-border-radius:50%;
}
/* =============================================================
   HEADER SECTION STYLES
 ============================================================ */
header {
    background-color: #F0677C;
    color: #fff;
    padding: 10px;
    text-align: right;
    width: 100%;
    margin: 0;
}


/* =============================================================
   LOGO SECTION STYLES
 ============================================================ */
.left-div {
    padding-left: 30px;
    /*margin-top: 40px;
    margin-bottom: 30px;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-brand {
    width: 250px;
    /*padding-top: 30px;*/
    padding-top: 10px;
}

/* USER SETTINGS DIV */
.user-settings-wrapper .nav > li > a {
    position: relative;
    display: block;
    padding: 15px 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #F0677C;
    color: #fff;
}

.user-settings-wrapper {
    margin-top: 10px;
}

    .user-settings-wrapper li {
        display: inline-block;
    }

    .user-settings-wrapper .dropdown-settings {
        width: 200px;
        padding: 10px;
    }

    .user-settings-wrapper .nav > li > a:hover,.user-settings-wrapper .nav > li > a:focus {
        text-decoration: none;
        background-color: #C36464!important;
    }

    .user-settings-wrapper img {
        height: 64px;
        width: 64px;
        border: 1px solid #000000;
    }

    .user-settings-wrapper .dropdown-menu {
        margin: 0px;
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .btn {
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .media-heading {
        padding-top: 10px;
    }

/* MENU LINKS SECTION*/

.menu-section {
    background-color: #3D3D3D;
}

#menu-top a {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
}

.menu-top-active {
    background-color: #C36464;
}

.menu-section .nav > li > a:hover,.menu-section .nav > li > a:focus {
    background-color: #F0677C!important;
}

.menu-section .dropdown-menu > li > a:hover,.menu-section .dropdown-menu > li > a:focus {
    background-color: #F0677C!important;
}

.navbar-inverse {
    background-color: #C36464;
    border-color: transparent;
}

.navbar-toggle {
    background-color: #F0677C;
    border: 1px solid #fff;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar {
    margin-bottom: 0px;
}
/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */

footer {
    color: #fff;
    font-size: 12px;
    background-color: #C36464;
    /*padding-top: 10px;*/
    padding-bottom: 10px;
    /*height: 110px;*/
    /*height: 120px;*/
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a, footer a:hover {
    color: #fff;
    text-decoration: none;
}

/*==============================================
    DASHBOARD  STYLES    
 =============================================*/

/* DASHBOARD ICONS */

.bk-clr-one {
    background-color: #B9B739;
}

.bk-clr-two {
    background-color: #F94C4C;
}

.bk-clr-three {
    background-color: #119c7e;
}

.bk-clr-four {
    background-color: #b739b9;
}

.dashboard-div-icon {
    height: 75px;
    width: 75px;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.dashboard-div-wrapper {
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 50px;
}

    .dashboard-div-wrapper .progress {
        height: 2px;
    }

/* NOTICE BOARD */


.notice-board .panel {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.notice-board ul {
    padding-left: 0px;
    list-style: none;
}

.notice-board li {
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
}

    .notice-board li span {
        margin-right: 10px;
        border: 1px solid #DBDBDB;
        padding: 5px;
    }

    .notice-board li a, li a:hover {
        text-decoration: none;
        color: #000;
    }

/* SOCIAL BUTTONS */
.btn-social {
    color: white;
    opacity: 0.8;
}

    .btn-social:hover {
        color: white;
        opacity: 1;
        text-decoration: none;
    }

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
    box-sizing: content-box;
    line-height: normal;
}

.gsc-above-wrapper-area,
.gsc-result-info-container,
.gcsc-branding,
.gsc-cursor-box.gs-bidi-start-align,
.gs-text-box{
    display: none;
}

.gsc-imageResult-classic {
    padding: 0 !important;
}

/*#page-wrap  {
    position: relative;
    background: url(../images/bg.png);
}*/

#chat-wrap  {
    border: 1px solid #eee;
    /*margin: 0 0 110px 0;*/
}

#chat-area  {
    /*min-height: 400px;
    max-height: 1600px;*/
    /*min-height: 450px;*/
    /*max-height: 450px;*/
    overflow: auto;
    border: 3px solid #999;
    padding: 5px;
    background-color: #c7bcff;
}

#sendie {
    border: 3px solid #999;
    width: 100%;
    padding: 10px;
    font: 12px "Lucida Grande", Sans-Serif;
    margin-bottom: 10px;
    /*height: 100px;*/
    height: 100%;
    resize: none;
    background-color: #c7bcff;
    margin-top: 5px;
}

/********************MENSAGES DEL CHAT******************/
.msg-text{
    max-width: 100%;
    width: 100%;
    /*max-width: 75%;*/
    white-space: pre-wrap;
    font-size: 16px;
}
.msg-sent {
    margin-left: 10% !important;
}
    .msg-sent .msg-date{
        float: right;
    }
    .msg-sent .msg-text{
        /*float: left;*/
    }
.msg-rcv {
    margin-right: 10% !important;
}
    .msg-rcv .msg-date{
        float: left;
    }
    .msg-rcv .msg-text{
        /*float: right;*/
    }
.chat-separator {
    margin: 0 0 5px 0;
    line-height: 1.42857143;
}
.chatInput {
    resize: none;
    height: auto !important;
    margin: 2px;
    border-width: 2px;
    width: 90%;
    border-color: #3c763d !important;
    overflow: auto;
    background-color: transparent;
}
.msg-pending {
    border-color: #caa658 !important;
}
.msg-date{
    color: #777777;
    font-size: 10px;
    background-color: transparent;
    line-height: 2;
}
.msg-sender{
    float: left;
    font-size: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #777777;
}
    .msg-sender.msg-sender-sent{
        float: left;
        font-size: 10px;
    }
    .msg-sender.msg-sender-rcv{
        float: right;
        font-size: 10px;
    }
.msg-remove{
    cursor: pointer;
    color: red;
    font-size: 14px;
    line-height: 1.4;
    width: 5%;
}
    .msg-sent .msg-remove {
        margin-left: 1%;
        float: right;
    }
    .msg-rcv .msg-remove {
        margin-right: 1%;
        float: left;
    }


div.separator {
    clear: both;
}
header, content {
    padding: 0;
    margin: 0;
}
header {
   /* height: 172px; */
}
content > *:first-child{
    /*height: 75% !important;*/
}

#search-results {
    margin-bottom: 170px;
    padding-top: 20px;
}
.search-result{
    /*float: left;*/
}
.search-results-image{
    max-width: 150px;
    max-height: 150px;
    margin: 2px;
}
.search-results-big-image{
    max-width: 400px;
    max-height: 400px;
    margin: 2px;
}

audio {
    display:none;
}

.container{
    /*margin : 5px;*/
    width: 100%;
}

html, body{
    margin: 0;
    padding: 0;
}